@font-face {
  font-family: "Print Char 21";
  src: url("PrintChar21.ttf") format("iif"), url("PrintChar21.woff2") format("woff2"), url("PrintChar21.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
html {
  font-size: 16px;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Print Char 21", courier, monospace;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body.alt-font {
  font-family: "Press Start 2P", courier, monospace;
}

#hh-container {
  font-size: 1rem;
}
#hh-container a {
  color: #0f0;
}
#hh-container strong, #hh-container b {
  font-weight: 400;
}

.hh-screen-effect, #hh-display-overlay, #hh-display {
  background-color: #030;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#040), color-stop(50%, #030), color-stop(95%, #020), to(#030));
  background-image: -o-linear-gradient(top, #040 0%, #030 50%, #020 95%, #030 100%);
  background-image: linear-gradient(to bottom, #040 0%, #030 50%, #020 95%, #030 100%);
  border-radius: 0.5rem;
  color: #0f0;
  line-height: 1.2;
  min-height: 30.7rem;
  margin: 0 auto;
  padding: 1rem;
  text-align: left;
  width: 40rem;
  -webkit-box-shadow: 0 0 20px rgba(0, 255, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 255, 0, 0.2);
}
.alt-font .hh-screen-effect, .alt-font #hh-display-overlay, .alt-font #hh-display {
  width: 45rem;
}

.overlay #hh-display {
  display: none;
}

#hh-display-overlay {
  display: none;
}
.overlay #hh-display-overlay {
  display: block;
}

#hh-output em,
#hh-output-overlay em {
  font-style: normal;
  color: #9f9;
}
#hh-output .message em,
#hh-output-overlay .message em {
  color: #0f0;
}

#hh-continue {
  font-size: 1rem;
}

#hh-input {
  font-weight: normal;
}

#hh-userInput {
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  color: #0f0;
  font-family: "Print Char 21", courier, monospace;
  font-size: 1rem;
  line-height: 1;
  margin-top: 1rem;
  margin-left: -0.75rem;
  padding: 0.5rem 0;
  outline: none;
  width: 35rem;
}
.alt-font #hh-userInput {
  font-family: "Press Start 2P", courier, monospace;
  width: 40rem;
}
#hh-userInput::-webkit-input-placeholder {
  color: #004000;
}
#hh-userInput::-moz-placeholder {
  color: #004000;
}
#hh-userInput:-ms-input-placeholder {
  color: #004000;
}
#hh-userInput::-ms-input-placeholder {
  color: #004000;
}
#hh-userInput::placeholder {
  color: #004000;
}

#hh-userInput.fading-1::-webkit-input-placeholder {
  color: #003d00;
}

#hh-userInput.fading-1::-moz-placeholder {
  color: #003d00;
}

#hh-userInput.fading-1:-ms-input-placeholder {
  color: #003d00;
}

#hh-userInput.fading-1::-ms-input-placeholder {
  color: #003d00;
}

#hh-userInput.fading-1::placeholder {
  color: #003d00;
}

#hh-userInput.fading-2::-webkit-input-placeholder {
  color: #003500;
}

#hh-userInput.fading-2::-moz-placeholder {
  color: #003500;
}

#hh-userInput.fading-2:-ms-input-placeholder {
  color: #003500;
}

#hh-userInput.fading-2::-ms-input-placeholder {
  color: #003500;
}

#hh-userInput.fading-2::placeholder {
  color: #003500;
}

#hh-userInput.fading-3::-webkit-input-placeholder {
  color: #003100;
}

#hh-userInput.fading-3::-moz-placeholder {
  color: #003100;
}

#hh-userInput.fading-3:-ms-input-placeholder {
  color: #003100;
}

#hh-userInput.fading-3::-ms-input-placeholder {
  color: #003100;
}

#hh-userInput.fading-3::placeholder {
  color: #003100;
}

#hh-help {
  font-size: 0.8rem;
  margin: 1rem 0;
  color: #0f0;
  text-align: center;
}

#hh-screensize {
  font-size: 0.8rem;
  padding-top: 0.5rem;
}
#hh-screensize a {
  text-decoration: none;
}
#hh-screensize a:hover {
  color: #fff;
}

.room-name {
  color: #6f6;
}

.message {
  color: #9f9;
}

button {
  background: transparent;
  border: none;
  color: #0f0;
  font-family: "Print Char 21", courier, monospace;
  outline: none;
  cursor: pointer;
  font-size: 0.8rem;
}
.alt-font button {
  font-family: "Press Start 2P", courier, monospace;
}
button:active, button:hover {
  color: #9f9;
}

#hh-reload {
  margin-top: 1rem;
  display: inline;
  font-size: 1rem;
}
#hh-reload.is-hidden {
  display: none;
}

.shake {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}
/*# sourceMappingURL=hh-screen.css.map */