doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Haunted House - A Text Adventure by Robert Wm. Gomez
		link(href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap", rel="stylesheet")
		link(href="css/hh-screen.css", rel="stylesheet")
	body
		#hh-container
			#hh-display
				#hh-output
				#hh-input
					form#hh-input-form(onSubmit="return false")
						label What will you do now:
						br
						span.prompt &gt;
						input#hh-userInput(type="text", name="userInput", autocomplete="off", placeholder="Type your command here...")
				button#hh-reload.is-hidden [ Click to Restart ]

			#hh-display-overlay
				| HAUNTED HOUSE<br>
				| ---------------------------------------------<br><br>
				#hh-output-overlay
				br
				button#hh-continue [ Click to Continue ]

			#hh-help
				| Type 'HELP' for instructions.
				#hh-screensize

					button#btnBigger [ Screen + ]
					| &nbsp;
					button#btnSmaller [ Screen - ]
					| &nbsp;
					button#btnFonts [ Font ]

		script(src="js/Haunted-House-dist.js")