doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Haunted House: Remastered - A Text Adventure by Robert Wm. Gomez

		// Various browser favicons
		link(rel="icon", href="images/Haunted-House.ico")
		link(rel="apple-touch-icon", href="images/touch-icon-iphone-60x60.png")
		link(rel="apple-touch-icon", sizes="60x60", href="images/touch-icon-ipad-76x76.png")
		link(rel="apple-touch-icon", sizes="114x114", href="images/touch-icon-iphone-retina-120x120.png")
		link(rel="apple-touch-icon", sizes="144x144", href="images/touch-icon-ipad-retina-152x152.png")

		// Facebook meta info because you know you want to share this
		meta(property="og:image", content="http://projects.robertgomez.org/haunted-house/images/share-image.jpg")
		meta(property="og:title", content="Haunted House: Remastered by Robert Wm. Gomez")
		meta(property="og:url", content="http://projects.robertgomez.org/haunted-house/index.html")
		meta(property="og:site_name", content="Robert Wm. Gomez Web Projects")

		// Load the page styles and Google computer font
		link(href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap", rel="stylesheet")
		link(href="css/hh-screen.css", rel="stylesheet")

	body.intro-page
		.container

			h1.text-center
				a(href="haunted-house.html", style="text-decoration:none;") Haunted House: Remastered
			h2.text-center.mt-0 A Text Adventure by Robert&nbsp;Wm.&nbsp;Gomez
			a(href="haunted-house.html", title="click to launch the game")
				img(src="images/share-image.jpg", alt="Haunted House: Remastered")

			p #[em Haunted House] began life as the Apple ][ example program from the excellent book, #[a(href="https://archive.org/details/Write_your_own_Adventure_Programs/mode/2up", target="_blank", rel="noopener noreferrer") #[em Write your own Adventure Programs for your Microcomputer]] by Jenny Tyler and Les Howarth (&copy;1983 Usborne Publishing).

			p Several years ago I ported #[em Haunted House] into JavaScript as programming exercise. If you are curious, this early version of the game is #[a(href="v1.50/", target="_blank", rel="noopener noreferrer") posted here]. It more or less mimicked the original Applesoft #[acronym(title="Beginner's All-Purpose Symbolic Instruction Code") BASIC] version.
			
			p I eventually realized that I could leverage what I had learned during that process to make a more robust, fair and fun version of the game. #[em #[a(href="haunted-house.html") Haunted House: Remastered]] is the result of that effort. This updated version features full room descriptions, story events, a slick retro-styled interface, sound effects, thrills, chills, and puzzles that sorta make sense! So, if you are ready for some intense text adventuring, #[a(href="haunted-house.html") start the game] already!

			h2.text-center  [ #[a(href="haunted-house.html", style="text-decoration: none;") Launch the Game!] ]
			
			p A note: I try to keep everything fair, but there are a couple of ways in which you can die. You usually will get a few warning messages beforehand, so don't be afraid to experiment.

			P Finally, if you find any bugs or egregious typos, let me know. You can contact me via Twitter #[a(href="https://twitter.com/robertgomez" target="_blank" rel="noopener noreferrer") @robertgomez] and through the contact form on #[a(href="http://robertgomez.org/contact") robertgomez.org]. If you are a nerd, create an issue at the #[a(href="https://github.com/ProjectsOfFun/haunted-house") Github repository]! I'm probably going to regret this last paragraph.

			p.text-center &copy;2020 Robert Wm. Gomez - #[a(href="https://paypal.me/RWGomez", title="Pay up suckas!", target="_blank", rel="noopener noreferrer") Tip Jar $$$]
